body {
  font-family: "Roboto", sans-serif;
  color: #00000000;
}

/* Глобальний сброс свойств css */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* background-color: orange; */
}
/* section {
  outline: 1px solid red;
} */

/* Header section */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.main_logo_web {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.menu_nav {
  margin-right: auto;
}

.menu-list {
  display: flex;
}
.menu-item {
  margin-right: 50px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-item {
  margin-right: 50px;
}
.contacts-item:last-child {
  margin-right: 0;
}
.menu_contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-right: 50px;
}

.menu_contacts:hover {
  color: #2196f3;
  font-weight: 500;
}

.footer-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.dark-logo {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}

/* Шапка */
.banner {
  background-color: #2f303a;
  padding: 200px 0;
}

/* Шапка */
/* Эффективные решения для вашего бизнеса */
.banner_h1 {
  /* H1 square*/
  /* text in H1 */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.banner_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/* Особенности */
.info {
  background-color: white;
}
.info-list {
  display: flex;
}
.info-items {
  margin-right: 30px;
  width: 270px;
}
.info-items:last-child {
  margin-right: 0;
}

.info_h2_font {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info_p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чем мы занимаемся */
.business_section {
  background-color: #ffffff;
}

.business_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.business-list {
  display: flex;
}
.business-item {
  margin-right: 30px;
}
.business-item:last-child {
  margin-right: 0;
}
.business_img {
  width: 370px;
  height: 294px;
}

/* Наша команда */
.team_section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-info {
  margin-right: 30px;
  text-align: center;
  background-color: #fff;
}
.team-info:last-child {
  margin-right: 0;
}
.team_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.team-wrapper {
  padding: 30px 0;
}

.name {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.position {
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

img {
  display: block;
}

/* Подвал */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .footer-body {
  display: flex;
} */
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.logo-web-footer {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}
.footer-cont-botton {
  margin-bottom: 9px;
}
.footer-cont-botton :hover {
  color: #2196f3;
  font-weight: 500;
}
.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* .footer-contacts:last-child{padding-bottom: 0px;} */

/* PORTFOLIO */

.portfolio_site_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
}

.portfolio_site_theme {
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu_link:hover {
  color: #2196f3;
  font-weight: 500;
}

.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-portfolio:hover {
  color: white;
  background: #2196f3;
}
.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}

.port-img-list {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
}
.port-img-item {
  text-align: start;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  border-bottom: 1px solid #EEEEEE;
}

