body {
    font-family: 'Roboto', sans-serif;
    color: #00000000;
}



.container{
    display: flex;
    width: 1200px;
margin-left: auto;
margin-right: auto;
background-color: orange;}  
section{padding: 3px;}

.header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex
}
.contact-main-box {justify-content: end;}
.menu_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-left: 50px;
}
.studio-flex{
    margin-left:93px ;
}
.menu_contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;  
    padding-left: 50px;
 
}

.menu_contacts:hover {
    color: #2196F3;
    font-weight: 500;
}

.main_logo_web{
    color:#2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo{
    color:#2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.dark-logo{
    color: #000000;
}
.footer-logo{
    color: #ffffff;
}

/* Шапка */
.banner {
    /* position: absolute; */
    background-color: #2F303A;
}

/* Шапка */
/* Эффективные решения для вашего бизнеса */
.banner_h1 {
    /* H1 square*/
    /* text in H1 */
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width:  696px;
    margin: 0 auto;
}

.banner_button {
    background: #2196F3;
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 700px;
    margin-top: 350px;
    margin-bottom: 200;
   
}


/* Особенности */
.info {
    background-color: white;
}
.flex-info{
    display: inline-block;
    justify-content: center;
}

.flex-box-info-1,
.flex-box-info-2,
.flex-box-info-3,
.flex-box-info-4 {
    display: flex;
    padding-left:0px;
    display: inline-block;
}

.container-info{
    display: flex;
}

.info_h2_font {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
}

.info_p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;

}



/* Чем мы занимаемся */
.business_section {
    background-color: #ffffff;
}

.business_h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    width: 376px;
    height: 42px;
    left: 612px;
    top: 969px;
}

.business_img {
    width: 370px;
    height: 294px;
}
.flex-business-img{
    display: flex;
    display: inline-block;
    display: inline-flex;
}


/* Наша команда */
.team_section {
    background-color: #F5F4FA;
}

.team_h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}

.name {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}

.position {
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

.team_img {
    width: 270px;
    height: 260px;
}


/* Подвал */
.footer {
    background-color: #2F303A;
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer-body{
    display: flex;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* PORTFOLIO */

.portfolio_site_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio_site_theme {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}



.menu_link:hover {
    color: #2196F3;
    font-weight: 500;
}

.button-menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button-menu:hover {
    color: white;
    background-color: #2196F3;
}

.button-menu:hover {
    color: #F5F4FA;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px #00000026;
}

.portfolio_img {
    width: 370px;
    height: 294px
}
.flex-Ihor{
    margin-left: auto;
}